@model Subscrib_er.Web.ViewModel.Package.PackageViewModel

@{
    Layout = "~/Views/Shared/dashboard.cshtml";
    ViewData["Title"] = "Create";
}

    <section class="no-padding-top no-padding-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Add new Package</h1>
                    <p>All subscription packages in one super pack!</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <form asp-action="Create" asp-controller="Package" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="PackageName" class="control-label"></label>
                            <input asp-for="PackageName" class="form-control" />
                            <span asp-validation-for="PackageName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DealerName" class="control-label"></label>
                            <input asp-for="DealerName" class="form-control" />
                            <span asp-validation-for="DealerName" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="Cost" class="control-label"></label>
                            <input asp-for="Cost" class="form-control" />
                            <span asp-validation-for="Cost" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" value="true" asp-for="payNow" /> @Html.DisplayNameFor(model => model.payNow)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
