
@{
    ViewBag.Title = "AccessDenied";
}

<h1 class="text-danger">AccessDenied</h1>
<h4 class="text-danger">You don not have permission to view this resource</h4>
<a asp-action="index" asp-controller="Home">back to view</a>


