
@{
    ViewData["Title"] = "AccountLocked";
}

<h1>Account Locked</h1>
<h4>Sorry your account has been locked after 5 failed attempts</h4>
<p>you can reset your password by <a asp-action="ForgotPassword" asp-controller="Account">clicking here</a></p>

